
.overlay{
    background: #3C372A99;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{

    position: relative;
    width: 600px;
    height: 800px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.644);
    padding: 20px;
    user-select: none;

}
.form-style{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.close{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25px, -9px);
    color: black;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 20px 0;
    transition: 500ms ease-in-out;
}
.close::before{
    content: '';
    height: 2px;
    width: 25px;
    background: black;
    transform: rotate(45deg) translateY(-17px);
    transition: 500ms ease-in-out;
    

}
.close::after{
    content: '';
    height: 2px;
    width: 25px;
    background: #000;
    transform: rotate(-45deg) translateY(-18px);
    transition: 500ms ease-in-out;
}
.close:hover::before{
    transform: rotate(-45deg) translate(17px, 0px);
   
}
.close:hover::after{
    transform: rotate(45deg) translate(-18px, 1px);  
}

.label-position{
    position: relative;
    z-index: 3;
    
}
.form-label{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(5px);
    z-index: 2;
    display: inline-block;
    transition: 500ms ease-in-out;
    cursor: pointer;
}
.form-input:focus + .form-label, .form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-176%) translateX(5px) scale(0.8);
}
.focus{
    transform: translateY(-176%) translateX(5px) scale(0.8);
}
textarea{
    width: 100%;
    resize: none;
}
.cb-custom{
    appearance: none;
    position: absolute;
}
.cbplace{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80px;
    cursor: pointer;

    /* background: #000; */
}
.cb-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./img/svg/Rectangle\ 99.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: 500ms ease-in-out;
    

}
.cb-custom:checked + .cb-icon {
    background-image: url(./img/svg/Vector\ \(1\).svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: 500ms ease-in-out;
    fill: aqua;
}
.message{
    padding: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.btnsubmit{
    display: block;
    cursor: pointer;
    padding: 10px;
    background: #03e120a6;
    min-width: 50px;
    max-width: 100px;
    border: none;
    border-radius: 4px;
    transition: 500ms ease-in-out;
}
.btnsubmit:hover{
    background: #93e103;
}